.hero {
  height: 100%;

  @include desktop {
    row-gap: 60px;
  }

  &__main {
    padding-inline: 60px;
    display: flex;
    justify-content: end;
    padding-top: 100px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: min(32.29vw, 620px);

  }


  &__description {
    text-transform: lowercase;
    padding-top: 35px;
  }
  &__logo {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, filter 0.5s ease;
  }
  
  .logo-svg {
    width: 100%; 
  }
  
  .hero__logo:hover {
    transform: scale(1.1); 
    filter: drop-shadow(-32px 29px 76px rgba(255, 252, 229, 0.7));
  }
  
}