.portfolio {
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
    align-items: center;
    padding-bottom: 1vw;

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__discription {

        box-sizing: content-box;
        width:  max(250px, 21.07vw);
        padding-right: 10.42vw;
        overflow-x: visible;
        @include mobile {
            order: 1;
            padding: 0;
        }
        h2 {
            line-height: 108%;
            text-transform: uppercase;
            padding-bottom: 2vw;
        }

        p {
            
            line-height: 133%;
            text-transform: lowercase;
            @include fluid-text(24, 14);

            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            cursor: pointer;

            &.expanded {
                display: block;
                -webkit-line-clamp: unset;
                overflow: scroll;
            height: max(93px, 11.85vw);
            }
        }
    }
    &__svg {
       margin-bottom: -1.5vh;
        .word-two {
            transform: translateX(1.3em);
        }
        .stroke {
            stroke-width: 10;
            stroke: url(#paint0_radial_264_2195);
        }
        .fill {
            fill: url(#imagePattern);
            stroke: none;
        } 
    }
    

}
