::-webkit-scrollbar {
    width: 0.42vw;              /* Ширина вертикальной полосы */
    height: 0;             /* Высота горизонтальной полосы */
}

/* Стили для "трека" — фона полосы прокрутки */
::-webkit-scrollbar-track {
    background-color: var(--color-dark); /* Цвет фона трека */
    opacity: 0.5;
    border-radius:  0.22vw;
}

/* Стили для бегунка */
::-webkit-scrollbar-thumb {
    background-color: var(--color-light-text);    /* Цвет бегунка */
    opacity: 0.5;
    border-radius:  0.22vw;       /* Скругленные края бегунка */
    border: none; /* Цвет обводки бегунка */
}

/* При наведении на бегунок */
::-webkit-scrollbar-thumb:hover {
    background-color: #cb7c5a;    /* Темнее при наведении */
}