@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{calc($max / 1366) * 100}vw, #{$max}px);
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  }

  @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin hover-active {
  &:hover {
    .no-touch & {
      @content;
    }
  }

  &:active {
    .touch & {
      @content;
    }
  }
}

@mixin button-size($is-large) {
  @if $is-large ==true {
    height: var(--button-height-large);
    width: 263px;
    padding: 20px 49px;
    line-height: 130%;
    border-radius: var(--border-radius-large);
    @include mobile-s {
      width: 100%;
      height: 47px;
      padding: 18px 43px;
    }
  }

  @else {
     height: var(--button-height-small);
    padding: 12px;
    line-height: 120%;
    border-radius: var(--border-radius-small);
    border-color: var(--color-accent-alt);
    color: var(--color-accent-alt);
    
  }
}