.container {
    margin-inline: auto;
    height: auto;
    &__section {
      width: 79.17vw;  
  }
  }
  
  .visually-hidden {
    @include visually-hidden;
  }
  
  .hidden-mobile {
    @include mobile {
      display: none !important;
    }
  }
  
  .visible-mobile {
    @include mobile-above {
      display: none !important;
    }
  }
