.container {
  margin-inline: auto;
  height: auto;

  &__section {
    width: max(250px, 79.17vw);
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.dark {
  background: url(../image/paper-6-3.jpg) repeat, var(--color-bg-gradient);
  background-blend-mode: multiply;
  box-shadow: var(--shadow-inset);
  background-attachment: fixed;
  height: min(91.2vh, 950px);

  ::-webkit-scrollbar-track {
    background-color: var(--color-dark-rgba);
  }
  @include tablet {
    height: min(91.2vh, 550px);
  }

}


  

